//TODO: write app scss here
@import "variables.scss";
@import "override";
@import "utils";
// @import "ui/slider.scss";
@import "ui/dialog.scss";

* {
  box-sizing: border-box;
}

body,
.app-container {
  position: absolute;
  top: 0px;

  width: 100%;
  height: 100%;

  margin: 0;

  overflow-y: hidden;
}

body {
  z-index: 1;
}

.app-container {
  z-index: 2;
}

body {
  font-family: "Noto Sans JP", sans-serif !important;
  line-height: 1.5;
  font-size: 16px;
}

.app-container {
  max-width: 390px;
  margin: 0 auto;
  background: $go-bg1;
  border-radius: 4px;
  position: relative;
  display: flex;

  &__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.go-toolbar {
  padding: 45px 0 0 18px;
  width: 100%;
  z-index: 10;

  &__segment {
    // border: solid 1px $dark;
    border-radius: 8px;

    .segment--item {
      &:first-child {
        border-bottom: solid 1px $dark;
        border-radius: 6px 6px 0 0;
      }

      &:last-child {
        border-radius: 0 0 6px 6px;
      }
    }
  }
}

.go-main {
  // padding-top: 194px;
  width: 100%;
  height: calc(100% - 113px - 50px);

  &--icon {
    width: 100%;
    height: 40vh;
  }

  canvas {
    position: absolute;
  }

  .container {
    width: 100%;
    height: 100%;
  }
}
.cartItem {
  width: 90px;
  height: 100%;
}
