$primary: #1976d2;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;
$bar: #9c9c9c;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$go-bg1: #ffffff; // #c9c9c9;
$go-bg2: #c9c9c9;
$active: #1976d2;

// :host {
//   --q-primary: #1976D2;
//   --q-secondary: #26A69A;
//   --q-accent: #9C27B0;
//   --q-positive: #21ba45;
//   --q-negative: #c10015;
//   --q-info: #31ccec;
//   --q-warning: #f2c037;
//   --q-dark: #1d1d1d;
//   --q-dark-page: #121212;
//   --animate-duration: 0.3s;
//   --animate-delay: 0.3s;
//   --animate-repeat: 1;
//   --q-size-xs: 0;
//   --q-size-sm: 600px;
//   --q-size-md: 1024px;
//   --q-size-lg: 1440px;
//   --q-size-xl: 1920px;
// }
